* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}

html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background: #ededf3;
  padding: 0;
  margin: 0;
  font-size: 17px;
  color: #000;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

canvas {
  display: block;
  margin: 0;
  padding: 0;
  background: #fff;
}

.button-bar {
  background: #f8f8f9;
  padding: 12px 18px;
  border-bottom: 1px solid #b2b2b2;
}

.button-bar ul {
  border: 1px solid #157efb;
  border-radius: 4px;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 32px;
}

.button-bar li {
  display: block;
  float:left;
  width: 50%;
  text-align: center;
  box-sizing: border-box;
  border-right: 1px solid #157efb;
  color: #157efb;
  padding: 0;
  margin: 0;
  height: 32px;
  line-height: 32px;
}

.button-bar li:last-child {
  border-right: 0;
}

.button-bar li:active, .button-bar li.active, .button-bar li:hover {
  background: #157efb;
  color: #fff;
}

#content2 {
  padding: 0 18px;
  border-bottom: 1px solid #c8c7cc;
  background: #fff;
}

#items {
  width: 100%;
}

#items > div {
  width: 100%;
  position: relative;
  background: #fff;
}

#items > div > div.canvas {
  padding-right: 18px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}

#items > div > div > canvas {
  padding: 2px 0 4px 0;
}

#items > div > div.text {
  height: 77px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 2px solid #c8c7cc;
  padding: 30px 0 0 89px;
  font-size: 15px;
}

#items > div > div.text span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

#items > div:last-child > div {
  border-bottom: 0;
}

#items img {
  max-height: 75px;
  padding: 10px;
  vertical-align: middle;
}
